body {
    background: #f5d9d5;
    font-family: 'Nunito Sans', sans-serif;
}

.cont h2 {
    color: #ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
}

.cont p {
    color: #f05c8f;
    font-size: 1.125rem;
    font-weight: 100;
    line-height: 2;
}

.slide {
    margin-top: 6rem;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 200;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
    font-weight: 300;
}

#img1, #img2, #img3, #img4 {
    width: 100%;
}


#heading span {
    color: #ea1c2c;
}

#heading h1 {
    font-weight: 100;
    font-size: 3rem;
}

.scrolled {
    background: rgba(222, 192, 222, 0.95);
    transition: background 500ms;
}

@media (max-width: 1000px) {
    #heading h1 {
        font-weight: 100;
        font-size: 2.3rem;
    }
}